.text:first-of-type {
  padding-top: 3.4rem;
}

.text, .quote {
  margin-top: 1.6rem;
  color: var(--clr-black);
}

.quote {
  font-style: italic;
  border-left: 2px solid var(--clr-black);
  padding-left: 1.6rem;
  font-size: 2rem;
  line-height: 3.6rem;
  font-weight: 500;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.tags, .socials {
  display: flex;
  gap: 2rem;
  color: var(--clr-black);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3rem;
}

.tag {
  padding: 0.4rem 1.2rem;
  font-size: 1.6rem;
  border: 1px solid var(--clr-black);
  border-radius: 0.4rem;
  margin-right: 1.6rem;
}

.socialsLink {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.line {
  border: 1px dashed #D9D9D9;
    width: 100%;
    margin-top: 4.8rem;
}