.wrapper {
  background-color: var(--clr-grey-light);
  max-width: 94.5rem;
  border-radius: 2.4rem;
  padding: 6rem;
  margin-inline: auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 6.4rem;
}

.formControl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.input, .textarea {
  background: var(--clr-white);
  width: 100%;
  padding: 1.6rem;
  box-shadow: 0px 10px 18px rgba(20, 18, 103, 0.03);
  border-radius: 12px;
  color: var(--clr-black);

  /* max-width: 76.8rem; */
}

.textarea {
  margin-top: 3.2rem;
}

/* .input::placeholder, .textarea::placeholder {
  color: var(--clr-grey);
} */

.input option:first-of-type {
  color: var(--clr-grey);
}

.btn {
  align-self: center;
  margin-top: 3.2rem;
}

@media(max-width: 990px) {
  .formControl {
    grid-template-columns: 1fr;
  }
}