.wrapper {
  display: flex;
  margin-top: 8rem;
  gap: 5.4rem;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.item h6 {
  margin-top: 2.4rem;
  margin-bottom: 0.8rem;
}

.img {
  border-radius: 2.4rem;
}

.contacts {
  margin-top: 0.6rem;
  display: flex;
  gap: 0.8rem;
}

@media(max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
}