/* .m_t {
  margin-top: -33rem;
} */

.wrapper {
  background-image: url('/images/bgimage.png');
  border-radius: 2.4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 11rem;
  padding-bottom: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-inline: 1.6rem;
}

.form {
  margin-top: 3.2rem;
  display: flex;
}

.input {
  background: rgba(255, 255, 255, 0.21);
  border-radius: 8px; 
  padding: 1.6rem;
  margin-right: 1.6rem;
  max-width: 29.2rem;
  width: 100%;
}

@media(max-width: 550px) {
  .form {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }

  .input {
    margin-right: 0;
  }
}