.bg {
  background-color: var(--clr-black);
  background-image: url('/images/hero.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero {
  
}

.container {
  
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.title {
  font-size: 7.2rem;
  line-height: 1.2;
  margin-bottom: 2.8rem;
  font-family: 'Playfair Display', serif;
}

.text {
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
}

