.bg {
  background-color: var(--clr-black);
  background-image: url('/images/bgimage.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 19.6rem;
  padding-bottom: 15rem;
  text-align: center;
}

.text {
  margin-top: 1.6rem;
  max-width: 35rem;
  margin-inline: auto;
  color: var(--clr-white);
}