

:root {
  --clr-white: #FFFFFF;
  --clr-black: #222222;
  --clr-black-light: #282726;
  --clr-yellow: #F8BD49;
  --clr-grey: #858585;
  --clr-grey-light: #FAFAFA;
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--clr-grey);
}

@media(max-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

/* img {
  display: block;
  max-width: 100%;
} */

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  /* -webkit-line-break: after-white-space; */
  /* -webkit-user-select: auto; */
}

:where([draggable='true']) {
  -webkit-user-drag: element;
}

.section {
  padding-inline: 15rem;
  padding-block: 10rem;
}

.border-bt {
  border-bottom: dotted 2px var(--clr-grey);
}

.container {
  max-width: 114rem;
}

.center {
  margin-inline: auto;
}

.heading-1-black {
  font-family: 'Playfair Display', serif;
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: var(--clr-black);
  font-weight: 700;
}

.heading-2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--clr-black);
  font-weight: 700;
}

.heading-1-white {
  font-family: 'Playfair Display', serif;
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: var(--clr-white);
  font-weight: 700;
}

.text-center {
  text-align: center;
}


.clr-white {
  color: var(--clr-white);
}

.btn {
  background-color: var(--clr-yellow);
  color: var(--clr-black);
  padding: 1.4rem 3.2rem;
  border-radius: 0.8rem;
  display: inline-block;
  width: max-content;
}

@media(max-width: 1200px) {
  .section {
    /* padding-inline: 10rem;
    padding-top: 8rem; */
    padding-inline: 6rem;
    padding-block: 6rem;
  }
}

@media(max-width: 1024px) {
  .section {
    padding-inline: 6rem;
    padding-block: 6rem;
  }
}

@media(max-width: 768px) {
  .section {
    padding-inline: 2.4rem;
    padding-block: 5rem;
  }
}